.background-image {
    background: url('../../../assets/fondo.png') no-repeat;
}

ion-title{
    color: rgb(255, 255, 255);
    font-size:xx-small;
}

.text-center{
    color: rgb(255, 255, 255);
    font-size:medium;
}

